.section4 {
  margin-top: 50px;
  // swiper
  & .swiper {
    height: 400px;
    & .swiper-wrapper {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    & .swiper-slide {
      width: 11% !important;
      & .item {
        position: relative;
        & .pin-new {
          position: absolute;
          top: 302px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 1;
          transition: opacity 0.3s ease;
          border-radius: 10px;
          z-index: 1;
        }
        & .pin-new-tm {
          position: absolute;
          background-color: var(--new-pin-tm);
          color: white;
          font-size: 12px;
          padding: 5px 10px;
          border-radius: 5px 5px 0 0;
          z-index: 1;
        }
        & .pin-new-pd {
          position: absolute;
          background-color: var(--new-pin-pd);
          color: white;
          font-size: 12px;
          padding: 5px 10px;
          border-radius: 5px 5px 0 0;
          z-index: 1;
        }
        & img {
          width: 100%;
          height:314px;
          object-fit: cover;
          border-radius: 10px;
          transition: 0.5s ease;
        }
        & .info {
          display: flex;
          flex-direction: column;
          & .title {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: white;
            font-weight: 500;
            font-size: 15px;
            text-decoration: none;
            margin-bottom: 10px;
            transition: 0.3s ease;
            &:hover {
              color: var(--text-color-menu-list-hover);
            }
          }
          & .author {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: rgb(150, 150, 150);
            font-size: 13px;
            text-decoration: none;
          }
        }
        &:hover{
          & img{
            opacity: 0.8;
          }
        }
      }
    }
  }
  //end swiper
  & .title {
    display: flex;
    align-items: center;
    gap: 10px;
    & h2 {
      color: white;
      font-weight: 600;
    }
    & .detail {
      align-items: center;
      display: flex;
      border: 1px solid rgb(100, 100, 100);
      border-radius: 50%;
      padding: 10px;
      overflow: hidden;
      transition: 0.5s ease cubic-bezier(0.4, 0, 0.2, 1);
      & a {
        text-decoration: none;
        max-width: 0;
        transform: translateX(-20px);
        opacity: 0;
        white-space: nowrap;
        transition: 0.5s ease;
      }
      & i {
        color: white;
      }
      &:hover {
        border-radius: 30px;
        & i {
          color: var(--text-color-menu-list-hover);
        }
        & a {
          text-decoration: none;
          color: var(--text-color-menu-list-hover);
          max-width: 150px;
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }
  }
}