// menu

header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999999;
  & .inner__menu {
    padding-top: 10px;
    align-items: center;
    display: flex;
    gap: 1.5rem;
    & .search {
      position: relative;
      width: 20%;
      margin-right: 15px;
      & input {
        background-color: rgba(255, 255, 255, 0.08);
        padding-left: 50px;
        width: 100%;
        height: 40px;
        border: 0;
        color:white;
        caret-color: white;
        border-radius: 5px;
        &:focus {
          outline: 1px solid white;
        }
        &::placeholder {
          color: white;
        }
      }
      & .fa-magnifying-glass {
        left: 20px;
        top: 14px;
        color: white;
        position: absolute;
      }
    }
    & .logo {
      & img {
        height: 65px;
      }
    }
    & .list__menu {
      & ul {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;
        & li {
          & a {
            color: var(--text-color-menu-list);
            font-size: 13px;
            text-decoration: none;
            &:hover {
              color: var(--text-color-menu-list-hover);
            }
          }
        }
      }
    }
  }
}

//end menu
