@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-body: #202331;
  --text-color-menu-list: white;
  --text-color-menu-list-hover: #ffd875;
  --text-color-base:#aaa;
  --new-pin-tm:#2ca35d;
  --new-pin-pd:#5e6070;
  --background-menu-scroll:#0f111a;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--background-body);
}
.section1{
  position:relative;
  overflow: hidden;
  height:750px;
}
.container {
  padding: 0 2%;
}
html {
  scroll-behavior: smooth;
}
