// intro
#splash {
  position: fixed;
  inset: 0;
  background: var(--background-body);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999;
  animation: splashFade 3s forwards;
  display: flex;
  flex-direction: column;
  & p {
    color: #ffffff94;
    font-size: 20px;
    font-weight: bold;
    text-wrap: wrap;
    text-align: center;
    width: 500px;
    animation: logoZoom 3s ease forwards;
  }
}

#splash img {
  width: 300px;
  animation: logoZoom 3s ease forwards;
}

/* logo zoom nhẹ */
@keyframes logoZoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

/* màn splash biến mất */
@keyframes splashFade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// end intro
.slider {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(1.08);
  animation: cinematic 50s infinite;
}
.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 10s;
}
.slide:nth-child(3) {
  animation-delay: 20s;
}
.slide:nth-child(4) {
  animation-delay: 30s;
}
.slide:nth-child(5) {
  animation-delay: 40s;
}
// block click khi slide chưa active
.slide {
  pointer-events: none;
}
.slide.active {
  pointer-events: auto;
}
//end block click khi slide chưa active
.item {
  position: absolute;
  width: 100%;
  height: 750px;
  & .inner__content {
    position: absolute;
    z-index: 8;
    top: 200px;
    left: 5%;
    & h3 {
      & a {
        font-size: 42px;
        font-weight: 700;
        text-decoration: none;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
        color: white;
        transition: 0.25s ease;
        &:hover {
          color: var(--text-color-menu-list-hover);
        }
      }
    }
    & .meta__tag {
      color: var(--text-color-menu-list-hover);
      font-size: 15.4px;
      text-decoration: none;
      font-weight: 300;
    }
    & .inner__meta {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      gap: 10px;
      & p {
        background: rgba(255, 255, 255, 0.062);
        padding: 5px;
        border: 1px solid #ffffff;
        border-radius: 7px;
        font-size: 12px;
        font-weight: 500;
        color: hsl(0, 0%, 100%);
      }
      & .meta__item {
        background: none;
        padding: 5px;
        border: 1px solid #f0d25c;
        border-radius: 7px;
        font-size: 12px;
        font-weight: 500;
        color: #f0d25c;
      }
    }
    & .meta__fullhd {
      margin-bottom: 20px;
      & span {
        background: #ffffff11;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
        font-weight: 500;
        color: white;
      }
    }
    & .description {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 60px;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      font-weight: 400;
      width:600px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }
    & .btn_playvideo{
      border-radius: 50%;
      padding:20px;
      color:#191b24;
      text-align: center;
      box-shadow: 0 5px 10px 5px rgba(255, 218, 125, 0.1);
      background:rgb(254, 207, 89) ;
      font-size:25px;
      background: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));
      transition: 0.5s ease;
      &:hover{
        transform: scale(1.1);
        box-shadow: 0 0px 15px 10px rgba(255, 218, 125, 0.244);
      }
    }
  }
  & .inner__img {
    width: 100%;
    height: 750px;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: url("https://rophim.com.mx/wp-content/themes/rophimmauvang/assets/css/img/dotted.png");
      background-repeat: repeat;
      opacity: 0.2;
      z-index: 1;
    }

    & img {
      filter: brightness(1.15);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;

      background:
        linear-gradient(
          to right,
          rgba(25, 27, 36, 1) 0%,
          rgba(25, 27, 36, 0.7) 18%,
          rgba(25, 27, 36, 0.15) 35%,
          rgba(25, 27, 36, 0) 50%,
          rgba(25, 27, 36, 0.15) 65%,
          rgba(25, 27, 36, 0.6) 82%,
          rgba(25, 27, 36, 0.95) 100%
        ),
        linear-gradient(
          to top,
          rgba(25, 27, 36, 1) 0%,
          rgba(25, 27, 36, 0.35) 35%,
          rgba(25, 27, 36, 0) 60%
        ),
        linear-gradient(
          to bottom,
          rgba(25, 27, 36, 0) 0%,
          rgba(25, 27, 36, 1) 0%,
          rgba(25, 27, 36, 0) 15%
        );
    }
  }
}
// key frame slider
@keyframes cinematic {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }

  10% {
    opacity: 1;
    transform: scale(1);
  }

  30% {
    opacity: 1;
    transform: scale(1);
  }

  35% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 0;
  }
}
//end key frame slider
